.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 38, 38);
  min-height: 120px;
  color:white;
  padding-bottom:20px;
}

/* this is a classic trick to group the 3 elements together to get a center point
I need a container here because when I center it later when it changes to a block
I want it to center container so line by line
i just pass the flex down so I can change it to block later.*/
.footer-container .footer-content {
  display: flex;
}

.footer-container p {
  line-height: 1.5;
  margin: 20px 50px;
}

/*used to be 1015px*/
@media (max-width: 1140px) {
  .footer-container p {
    margin: 20px 30px;
  }
}

@media (max-width: 915px) {
  .footer-container p {
    margin: 20px 10px;
  }
}


@media (max-width: 815px) {
  .footer-container p {
    margin: 20px 10px;
  }

  .footer-container .footer-content{
    display: block;
  }
}